:root {
  --accent-text-color: #21092f;

  --second-text-color: rgba(33, 9, 47, 0.25);
  --border-color: #dfdee0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2px;

  color: var(--accent-text-color);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;

  width: 100%;
  max-width: 1440px;
  min-height: 900px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/bg-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.image-thumb {
  display: flex;
  flex-direction: column;
  gap: 37px;
  width: 541px;
  min-width: 447px;
}

.image-thumb img:nth-child(2n) {
  align-self: flex-end;
}

.card-form {
  width: 395px;
  padding: 7px;
}

.card-form-lable {
  display: inline-block;
  width: 100%;
}

.label-margin {
  margin-bottom: 26px;
}

.card-form-lable span {
  display: inline-block;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.card-form-input {
  width: 100%;
  padding: 10px 15px;

  font-family: inherit;
  font-size: 18px;

  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.card-form-input:hover,
.card-form-input:focus {
  outline: 1px solid var(--accent-text-color);
}

.input-wrapper {
  display: flex;
  column-gap: 20px;
}

.input-date {
  width: 80px;
}

.input-date-wrapper {
  display: flex;
  gap: 10px;
}

.input-cvc {
  min-width: 100px;
}

.card-form-lable > input::placeholder {
  color: var(--second-text-color);
}

.form-button {
  width: 100%;
  padding: 15px 30px;
  margin-top: 40px;

  color: #fff;
  font-size: 18px;

  background-color: var(--accent-text-color);
  border: none;
  border-radius: 8px;

  cursor: pointer;
}

.form-button:hover,
.form-button:focus {
  opacity: 0.85;
}
